body {
    font-family: Arial, "Courier New";
}

.cell {
    padding: 10px 10px 10px 10px;
}

.vertical_list > * {
    clear: both;
}

.horizontal_list > * {
    float: left;
    padding-right: 10px;
}

.constant {
    font-weight: bold;
    min-height:20px;
}

.spacer {
    width: 50px;
    min-height:20px;
}

.placeholder {
    color: gray;
}

/*.mygrid {*/
/*    //display: inline-grid;*/
/*    //grid-column-gap: 0;*/
/*}*/